@charset "UTF-8";

/* 回答はここに書いてね */

.q2__content {
  width: 940px;
  background-color: #eff3f4;
  word-wrap: break-all;
  margin: 0 auto;
  padding: 20px;
}

.q2__content__box-top img {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.q2__content__text-top {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.q2__content__text-bottom {
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
}

.q2__content__box-bottom img {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}
