@charset "UTF-8";

/* 回答はここに書いてね */

/*Q7-1*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.text-common {
  width: 205px;
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
}

.q7__box_left {
  float: left;
  margin-right: 50px;
}

.q7__box_right {
  float: right;
}

/*Q7-2*/

.box-parent {
  display: table;
}

.q7__box {
  display: table-cell;
  vertical-align: middle;
}

.q7__box-left {
  display: table-cell;
  vertical-align: middle;
}

.q7__box__text_left {
  margin-right: 50px;
  padding: 10px;
  width: 205px;
  background-color: #fff;
}

.q7__box-right {
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  font-size: 16px;
}

.q7__box__text_right {
  padding: 10px;
  width: 205px;
  background-color: #fff;
}

/*Q7-3*/

.box-parent-3 {
  font-size: 0;
}

.q7__box {
  width: 205px;
  font-size: 16px;
}

.box-left-3 {
  display: inline-block;
  background-color: #fff;
  margin-right: 50px;
}

.box-right-3 {
  display: inline-block;
  background-color: #fff;
}

/*Q7-4*/

.box-common {
  background-color: #fff;
  padding: 10px;
  width: 205px;
  font-size: 16px;
}

.q7__box_parent_4 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/*Q7-5*/

.box-parent-5 {
  font-size: 0;
}

.common__text {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.q7__box_left_5 {
  display: inline-block;
  width: 300px;
  font-size: 16px;
  vertical-align: top;
}

.q7__box_right_5 {
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  width: 100%;
}

/* 回答はここに書いてね */
