@charset "UTF-8";

/* 回答はここに書いてね */

/*Q7-1*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.text-common {
  float: left;
  width: 205px;
  font-size: 16px;
  background-color: #fff;
  padding: 10px;
}

.text-common:first-child {
  float: left;
  margin-right: 50px;
}

/*Q7-2*/

.box-parent {
  display: table;
}

.q7__box-common {
  display: table-cell;
  vertical-align: middle;
}

.q7__box-common:first-child {
  padding-right: 50px;
}

.q7-text_common {
  display: table-cell;
  padding: 10px;
  width: 205px;
  background-color: #fff;
}

/*Q7-3*/

.q7_box-parent {
  font-size: 0;
}

.q7__box {
  width: 205px;
  font-size: 16px;
}

.q7-box__common {
  display: inline-block;
  background-color: #fff;
}

.q7-box__common:first-child {
  margin-right: 50px;
}

/*Q7-4*/

.q7__box__common {
  background-color: #fff;
  padding: 10px;
  width: 205px;
  font-size: 16px;
}

.q7_inner-parent {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/*Q7-5*/

.q7-font-zero {
  font-size: 0;
}

.text---common {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
}

.q7-box-parent_:first-child {
  vertical-align: top;
  display: inline-block;
  width: 300px;
}

.q7-box-parent_:last-child {
  display: inline-block;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  width: 100%;
}

/* 回答はここに書いてね */
