@charset "UTF-8";

/* 回答はここに書いてね */

/*Q6-1*/

.box_first div {
  text-align: center;
}

.box_first p {
  display: inline-block;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e6f2ff;
}

.box_second p {
  /* display: inline-block; */
  text-align: center;
  margin: 0 auto;
  width: 90px;
  padding: 10px;
  background-color: #e6f2ff;
}

/*Q6-2*/

.outer {
  display: table;
}

.q6-inner_first {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.q6-inner_first p {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6-box-1 p {
  padding: 10px;
  background-color: #fff;
  text-align: center;
}

.q6-position-box {
  position: relative;
}

.q6-position-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.position-outer {
  position: relative;
  width: 100%;
}

.q6-inner-second {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/* 回答はここに書いてね */
